streamlit # For building the web application

numpy
pandas

# Face Recognition
scikit-learn
dlib-bin # For face detection
git+https://github.com/ageitgey/face_recognition_models # Install face_recognition_models from GitHub
setuptools<70.0.0 


# DataBase
supabase
bcrypt # For hashing users password


segno # Library for generating QR Code from URL
pillow # For image preprocessing


# For voice recognition
librosa
Resemblyzer